* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f6fa;
}

/* NAVBAR */
.navbar {
  background: #111;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  width: 28px;
  height: 28px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.cart-icon {
  font-size: 18px;
  cursor: pointer;
}

/* SEARCH & FILTER */
.filters {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.price-filter {
  display: flex;
  gap: 8px;
}

.price-filter button {
  padding: 8px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  flex-wrap: wrap;
}

.categories button {
  padding: 6px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

@media(min-width:768px){
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 15px;
  margin: 8px 0;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card button {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.product-card button.added {
  background: #555;
    }
