* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f6fa;
}

/* NAVBAR */
.navbar {
  background: #111;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.categories button {
  padding: 8px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCTS GRID */
/* 2 per row on phone */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

/* Larger screens */
@media(min-width: 768px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* PRODUCT CARD */
.product-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 15px;
  margin: 8px 0;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card button {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.product-card button.added {
  background: #555;
  }
